@tailwind base;
@tailwind components;
@tailwind utilities;

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{

    font-family: 'Oswald', sans-serif;
    background-color: white;

}



.slick-slide > div {

    margin: 1rem auto;
    width: 50%;
}

.slick-list {

    margin: 0 0px;

}
  